*.iml
*.class
*.log
target/
project/target/
project/boot/
dist/
boot/
logs/
out/
tmp/
projectFilesBackup/
.history/
.idea/
.idea_modules/
.DS_STORE
.cache
.settings
.project
.classpath
version.properties
RUNNING_PID
.metals
metals.sbt
.bsp
.scala-build
TempGo.scala
metals.sbt
.bloop
/wt
website/build/
website/.docusaurus/
website/node_modules/
website/translated_docs/
website/i18n/
