/*.highlighter-rouge {*/
/*  color: #c7254e;*/
/*  background-color: #f9f2f4;*/
/*}*/

/*.hljs-string {*/
/*  line-height: inherit !important;*/
/*}*/

.diff-render {
    background: aliceblue;
    border-radius: 5px;
    padding: 15px!important;
}

#content ul li {
    line-height: 24px;
}

.docs #page-content-wrapper section code.language-plaintext {
    background: #7bd88c3d;
    border-radius: 4px;
    padding: 1px 4px;
}
